body {
    font-size:$baseline;
    line-height: 1.75; 
}
h1,h2 {
    color:$red;
}

h1 {
    font-size: 2.618rem;
}
h2 {
    font-size: 1.618rem;
}
h3 {
    text-transform: uppercase;
}

h1,h2,h3,p {
    margin-bottom: $baseline;
}
p:last-child {
    margin-bottom: auto;
}

a {
    color:$red;
}
a:hover {
    text-decoration: underline;
}